.clear {
    clear:both;
}

.iterations {
    margin:25px 0;
}

.questionWrapper {
    padding:0 5%;
    margin:30px 0;
}

.question p {
    margin-top:10px;
    float:left;
    width:65%;
    margin-right:5%;
}

.question .btn-group {
    width:20%;
    margin-top:0;
    float:right;
}

.question {
    margin-bottom: 20px;
    padding: 0 5% 20px 5%;
    border-bottom: 1px solid #ccc;
}

.questionWrapper h2 {
    margin-bottom:25px;
}

.questionWrapper .submit {
    margin-top:20px;
}

.questionWrapper h3 {
    margin-top:20px;
}

.questionWrapper textarea {
    width:100%;
}

.one .prevNext {
    display:none;
}

.one .questionsProgress {
    display:none;
}

.prev {
    display:none;
}



.two .submit {
    display:none;
}

.two .question {
    display:none;
}

.two .question.active {
    display:block;
}

.two .questionWrapper h2 {
    margin-bottom:35px;
}

.two .question {
    padding-bottom:25px;
    margin-bottom:25px;
}

.two .questionsProgress {
    margin:15px 0;
}