.clear {
    clear:both;
}

.questionWrapper {
    padding:0 5%;
    margin:30px 0;
}

.question p, .question .btn-group {
    float:left;
    width:65%;
    margin-right:5%;
}

.question p {
    margin-top:10px;
}

.question .btn-group {
    width:20%;
    margin-top:0;
}

.question {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.questionWrapper h2 {
    margin-bottom:25px;
}

.questionWrapper .submit {
    margin-top:20px;
}

.questionWrapper h3 {
    margin-top:20px;
}

.questionWrapper textarea {
    width:100%;
}

