body {
    width: 100%;
    /*min-width:480px;*/
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    width:100%;
    padding:0;
    margin:0;
    position:relative;
    z-index:10;
}

header ul {
    margin:0;
    padding:0;
    width:100%;
}

header ul li {
    width:14.284%;
    float:left;
    list-style:none;
    padding:0;
    margin:0;
}

header ul li span {
    border:1px solid black;
    text-align:center;
    color:#333;
    display:block;
    height:100%;
    width:100%;
    padding:10px 0;
    border-left:none;
    cursor:pointer;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

header ul li span[data-boxNum="1"] {
    border-left:1px solid black;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

header ul li .active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e6e6e6;
}

.container {
    width:80%;
    padding:85px 10% 0;
    position:relative;
}

.fixHeight {
    height:150px;
}

.question h3 {
    line-height:1.2;
    font-size:18px;
}

.question p {
    font-size:14px;
}

.question .btn-group {
    margin-top:15px;
}

.donezo {
    position: absolute;
    bottom: 0px;
    right: 10%;
}

.searching {
    font-size:2em;
    text-align:center;
}

.searching p {
    line-height:1.3;
}


@media all and (min-width: 480px) {

  body {
    min-width:480px;
  }

  header ul li {
    width:7.14%;
  }

}